<a href="https://colab.research.google.com/github/erico-bachour/Fitness_Project/blob/main/Fitness_Project_Erico_Bachour.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Fitness Project - Erico Bachour**

In [41]:
import pandas as pd

In [42]:
!unzip -o '/content/drive/MyDrive/Fitness/export.zip' -d ./

Archive:  /content/drive/MyDrive/Fitness/export.zip
  inflating: ./apple_health_export/export.xml
  inflating: ./apple_health_export/export_cda.xml

In [43]:
path = 'apple_health_export/export.xml'

In [20]:
df = pd.read_xml(path)

In [21]:
df.head()

,value,HKCharacteristicTypeIdentifierDateOfBirth,HKCharacteristicTypeIdentifierBiologicalSex,HKCharacteristicTypeIdentifierBloodType,HKCharacteristicTypeIdentifierFitzpatrickSkinType,HKCharacteristicTypeIdentifierCardioFitnessMedicationsUse,type,sourceName,sourceVersion,unit,...,dateComponents,activeEnergyBurned,activeEnergyBurnedGoal,activeEnergyBurnedUnit,appleMoveTime,appleMoveTimeGoal,appleExerciseTime,appleExerciseTimeGoal,appleStandHours,appleStandHoursGoal
0,2022-12-08 19:21:29 -0300,None,None,None,None,None,None,None,None,None,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
1,None,1990-11-12,HKBiologicalSexMale,HKBloodTypeNotSet,HKFitzpatrickSkinTypeNotSet,None,None,None,None,None,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
2,28.2,None,None,None,None,None,HKQuantityTypeIdentifierBodyMassIndex,Fitdays,1,count,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
3,28.6,None,None,None,None,None,HKQuantityTypeIdentifierBodyMassIndex,Fitdays,1,count,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN
4,28.1,None,None,None,None,None,HKQuantityTypeIdentifierBodyMassIndex,Fitdays,1,count,...,None,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455191 entries, 0 to 455190
Data columns (total 30 columns):
 #   Column                                                     Non-Null Count   Dtype
---  ------                                                     --------------   -----
 0   value                                                      454821 non-null  object
 1   HKCharacteristicTypeIdentifierDateOfBirth                  1 non-null       object
 2   HKCharacteristicTypeIdentifierBiologicalSex                1 non-null       object
 3   HKCharacteristicTypeIdentifierBloodType                    1 non-null       object
 4   HKCharacteristicTypeIdentifierFitzpatrickSkinType          1 non-null       object
 5   HKCharacteristicTypeIdentifierCardioFitnessMedicationsUse  1 non-null       object
 6   type                                                       454820 non-null  object
 7   sourceName                                                 455067 non-null  object
 8   sourceVersion                                              454826 non-null  object
 9   unit                                                       450503 non-null  object
 10  creationDate                                               455067 non-null  object
 11  startDate                                                  455067 non-null  object
 12  endDate                                                    455067 non-null  object
 13  device                                                     234102 non-null  object
 14  MetadataEntry                                              0 non-null       float64
 15  workoutActivityType                                        247 non-null     object
 16  duration                                                   247 non-null     float64
 17  durationUnit                                               247 non-null     object
 18  WorkoutEvent                                               0 non-null       float64
 19  WorkoutStatistics                                          0 non-null       float64
 20  dateComponents                                             122 non-null     object
 21  activeEnergyBurned                                         122 non-null     float64
 22  activeEnergyBurnedGoal                                     122 non-null     float64
 23  activeEnergyBurnedUnit                                     122 non-null     object
 24  appleMoveTime                                              122 non-null     float64
 25  appleMoveTimeGoal                                          122 non-null     float64
 26  appleExerciseTime                                          122 non-null     float64
 27  appleExerciseTimeGoal                                      122 non-null     float64
 28  appleStandHours                                            122 non-null     float64
 29  appleStandHoursGoal                                        122 non-null     float64
dtypes: float64(12), object(18)
memory usage: 104.2+ MB

In [23]:
df.drop(columns = ['HKCharacteristicTypeIdentifierDateOfBirth',
       'HKCharacteristicTypeIdentifierBiologicalSex',
       'HKCharacteristicTypeIdentifierBloodType',
       'HKCharacteristicTypeIdentifierFitzpatrickSkinType', 'appleMoveTime', 'appleMoveTimeGoal',
       'appleExerciseTime', 'appleExerciseTimeGoal', 'appleStandHours',
       'appleStandHoursGoal', 'MetadataEntry', 'WorkoutEvent', 'WorkoutStatistics', 'HKCharacteristicTypeIdentifierCardioFitnessMedicationsUse', 'sourceVersion', 'device' ], inplace=True)

In [24]:
df.head()

,value,type,sourceName,unit,creationDate,startDate,endDate,workoutActivityType,duration,durationUnit,dateComponents,activeEnergyBurned,activeEnergyBurnedGoal,activeEnergyBurnedUnit
0,2022-12-08 19:21:29 -0300,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,None
1,None,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,None
2,28.2,HKQuantityTypeIdentifierBodyMassIndex,Fitdays,count,2021-11-28 13:18:04 -0300,2021-11-28 13:18:01 -0300,2021-11-28 13:18:01 -0300,None,NaN,None,None,NaN,NaN,None
3,28.6,HKQuantityTypeIdentifierBodyMassIndex,Fitdays,count,2021-11-28 22:07:32 -0300,2021-11-28 22:07:29 -0300,2021-11-28 22:07:29 -0300,None,NaN,None,None,NaN,NaN,None
4,28.1,HKQuantityTypeIdentifierBodyMassIndex,Fitdays,count,2021-11-29 08:18:57 -0300,2021-11-29 08:18:54 -0300,2021-11-29 08:18:54 -0300,None,NaN,None,None,NaN,NaN,None

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455191 entries, 0 to 455190
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   value                   454821 non-null  object
 1   type                    454820 non-null  object
 2   sourceName              455067 non-null  object
 3   unit                    450503 non-null  object
 4   creationDate            455067 non-null  object
 5   startDate               455067 non-null  object
 6   endDate                 455067 non-null  object
 7   workoutActivityType     247 non-null     object
 8   duration                247 non-null     float64
 9   durationUnit            247 non-null     object
 10  dateComponents          122 non-null     object
 11  activeEnergyBurned      122 non-null     float64
 12  activeEnergyBurnedGoal  122 non-null     float64
 13  activeEnergyBurnedUnit  122 non-null     object
dtypes: float64(3), object(11)
memory usage: 48.6+ MB

In [26]:
df.unit.value_counts()

km           135706
Cal           85031
count         80056
count/min     76535
%             18233
cm            16145
km/hr         16144
dBASPL        10743
g              6240
mg             4680
kg              989
hr                1
Name: unit, dtype: int64

In [27]:
df.sourceName.value_counts()

iPhone           234323
Nike Run Club    122783
Mi Fitness        83266
MyFitnessPal      11855
Fitdays            1665
Clock              1169
Health                4
FitPro                2
Name: sourceName, dtype: int64

In [28]:
myfitnesspal = df.loc[df['sourceName'] == 'MyFitnessPal']

In [45]:
myfitnesspal

691       2022-06-27 19:56:23 -0300
693       2022-06-28 12:11:14 -0300
703       2022-07-05 20:39:57 -0300
720       2022-07-20 07:07:43 -0300
724       2022-07-22 23:59:50 -0300
                    ...
389629    2022-12-08 05:49:37 -0300
389630    2022-12-08 05:49:43 -0300
389631    2022-12-08 11:42:06 -0300
389632    2022-12-08 17:00:18 -0300
389633    2022-12-08 19:11:09 -0300
Name: creationDate, Length: 11855, dtype: object

In [30]:
myfitnesspal['type'].value_counts()

HKQuantityTypeIdentifierDietaryFatTotal              780
HKQuantityTypeIdentifierDietaryFatPolyunsaturated    780
HKQuantityTypeIdentifierDietaryFatMonounsaturated    780
HKQuantityTypeIdentifierDietaryFatSaturated          780
HKQuantityTypeIdentifierDietaryCholesterol           780
HKQuantityTypeIdentifierDietarySodium                780
HKQuantityTypeIdentifierDietaryCarbohydrates         780
HKQuantityTypeIdentifierDietaryFiber                 780
HKQuantityTypeIdentifierDietarySugar                 780
HKQuantityTypeIdentifierDietaryEnergyConsumed        780
HKQuantityTypeIdentifierDietaryProtein               780
HKQuantityTypeIdentifierDietaryVitaminC              780
HKQuantityTypeIdentifierDietaryCalcium               780
HKQuantityTypeIdentifierDietaryIron                  780
HKQuantityTypeIdentifierDietaryPotassium             780
HKQuantityTypeIdentifierBodyMass                     155
Name: type, dtype: int64

In [31]:
myfitnesspal.head(100)

,value,type,sourceName,unit,creationDate,startDate,endDate,workoutActivityType,duration,durationUnit,dateComponents,activeEnergyBurned,activeEnergyBurnedGoal,activeEnergyBurnedUnit
691,78.5001,HKQuantityTypeIdentifierBodyMass,MyFitnessPal,kg,2022-06-27 19:56:23 -0300,2022-06-26 19:56:00 -0300,2022-06-26 19:56:00 -0300,None,NaN,None,None,NaN,NaN,None
693,78.3,HKQuantityTypeIdentifierBodyMass,MyFitnessPal,kg,2022-06-28 12:11:14 -0300,2022-06-27 12:11:00 -0300,2022-06-27 12:11:00 -0300,None,NaN,None,None,NaN,NaN,None
703,77.4999,HKQuantityTypeIdentifierBodyMass,MyFitnessPal,kg,2022-07-05 20:39:57 -0300,2022-06-28 20:39:00 -0300,2022-06-28 20:39:00 -0300,None,NaN,None,None,NaN,NaN,None
720,80.0001,HKQuantityTypeIdentifierBodyMass,MyFitnessPal,kg,2022-07-20 07:07:43 -0300,2022-07-05 07:07:00 -0300,2022-07-05 07:07:00 -0300,None,NaN,None,None,NaN,NaN,None
724,78.7999,HKQuantityTypeIdentifierBodyMass,MyFitnessPal,kg,2022-07-22 23:59:50 -0300,2022-07-19 23:59:00 -0300,2022-07-19 23:59:00 -0300,None,NaN,None,None,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,78.5998,HKQuantityTypeIdentifierBodyMass,MyFitnessPal,kg,2022-10-19 12:10:43 -0300,2022-10-18 12:10:00 -0300,2022-10-18 12:10:00 -0300,None,NaN,None,None,NaN,NaN,None
925,77.6999,HKQuantityTypeIdentifierBodyMass,MyFitnessPal,kg,2022-10-20 11:48:12 -0300,2022-10-19 11:48:00 -0300,2022-10-19 11:48:00 -0300,None,NaN,None,None,NaN,NaN,None
927,77.2001,HKQuantityTypeIdentifierBodyMass,MyFitnessPal,kg,2022-10-21 08:37:13 -0300,2022-10-20 08:37:00 -0300,2022-10-20 08:37:00 -0300,None,NaN,None,None,NaN,NaN,None
929,76.7002,HKQuantityTypeIdentifierBodyMass,MyFitnessPal,kg,2022-10-22 13:05:14 -0300,2022-10-21 13:05:00 -0300,2022-10-21 13:05:00 -0300,None,NaN,None,None,NaN,NaN,None
931,78.3998,HKQuantityTypeIdentifierBodyMass,MyFitnessPal,kg,2022-10-23 10:31:41 -0300,2022-10-22 10:31:00 -0300,2022-10-22 10:31:00 -0300,None,NaN,None,None,NaN,NaN,None

In [52]:
myfitnesspal.loc[myfitnesspal['type'] == 'HKQuantityTypeIdentifierDietaryEnergyConsumed']

,value,type,sourceName,unit,creationDate,startDate,endDate,workoutActivityType,duration,durationUnit,dateComponents,activeEnergyBurned,activeEnergyBurnedGoal,activeEnergyBurnedUnit
384954,52,HKQuantityTypeIdentifierDietaryEnergyConsumed,MyFitnessPal,Cal,2022-06-27 17:10:51 -0300,2022-06-27 17:10:00 -0300,2022-06-27 17:10:00 -0300,None,NaN,None,None,NaN,NaN,None
384955,816.407,HKQuantityTypeIdentifierDietaryEnergyConsumed,MyFitnessPal,Cal,2022-06-27 17:11:07 -0300,2022-06-27 17:10:00 -0300,2022-06-27 17:10:00 -0300,None,NaN,None,None,NaN,NaN,None
384956,33.8,HKQuantityTypeIdentifierDietaryEnergyConsumed,MyFitnessPal,Cal,2022-06-27 17:12:30 -0300,2022-06-27 17:12:00 -0300,2022-06-27 17:12:00 -0300,None,NaN,None,None,NaN,NaN,None
384957,221.95,HKQuantityTypeIdentifierDietaryEnergyConsumed,MyFitnessPal,Cal,2022-06-27 17:12:46 -0300,2022-06-27 17:11:00 -0300,2022-06-27 17:11:00 -0300,None,NaN,None,None,NaN,NaN,None
384958,602.407,HKQuantityTypeIdentifierDietaryEnergyConsumed,MyFitnessPal,Cal,2022-06-28 00:20:31 -0300,2022-06-27 17:11:00 -0300,2022-06-27 17:11:00 -0300,None,NaN,None,None,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385729,118,HKQuantityTypeIdentifierDietaryEnergyConsumed,MyFitnessPal,Cal,2022-12-08 05:49:37 -0300,2022-12-08 05:49:00 -0300,2022-12-08 05:49:00 -0300,None,NaN,None,None,NaN,NaN,None
385730,410,HKQuantityTypeIdentifierDietaryEnergyConsumed,MyFitnessPal,Cal,2022-12-08 05:49:43 -0300,2022-12-08 05:49:00 -0300,2022-12-08 05:49:00 -0300,None,NaN,None,None,NaN,NaN,None
385731,843.807,HKQuantityTypeIdentifierDietaryEnergyConsumed,MyFitnessPal,Cal,2022-12-08 11:42:06 -0300,2022-12-08 05:52:00 -0300,2022-12-08 05:52:00 -0300,None,NaN,None,None,NaN,NaN,None
385732,249,HKQuantityTypeIdentifierDietaryEnergyConsumed,MyFitnessPal,Cal,2022-12-08 17:00:18 -0300,2022-12-08 16:59:00 -0300,2022-12-08 16:59:00 -0300,None,NaN,None,None,NaN,NaN,None
385733,421.97,HKQuantityTypeIdentifierDietaryEnergyConsumed,MyFitnessPal,Cal,2022-12-08 19:11:09 -0300,2022-12-08 05:52:00 -0300,2022-12-08 05:52:00 -0300,None,NaN,None,None,NaN,NaN,None

In [32]:
mifitness = df.loc[df['sourceName'] == 'Mi Fitness']

In [33]:
mifitness

,value,type,sourceName,unit,creationDate,startDate,endDate,workoutActivityType,duration,durationUnit,dateComponents,activeEnergyBurned,activeEnergyBurnedGoal,activeEnergyBurnedUnit
1038,61,HKQuantityTypeIdentifierHeartRate,Mi Fitness,count/min,2022-08-10 18:00:06 -0300,2022-08-10 17:00:00 -0300,2022-08-10 18:00:00 -0300,None,NaN,None,None,NaN,NaN,None
1039,64,HKQuantityTypeIdentifierHeartRate,Mi Fitness,count/min,2022-08-10 18:00:06 -0300,2022-08-10 17:00:00 -0300,2022-08-10 18:00:00 -0300,None,NaN,None,None,NaN,NaN,None
1040,85,HKQuantityTypeIdentifierHeartRate,Mi Fitness,count/min,2022-08-10 18:00:06 -0300,2022-08-10 17:00:00 -0300,2022-08-10 18:00:00 -0300,None,NaN,None,None,NaN,NaN,None
1041,127,HKQuantityTypeIdentifierHeartRate,Mi Fitness,count/min,2022-08-10 18:00:06 -0300,2022-08-10 17:00:00 -0300,2022-08-10 18:00:00 -0300,None,NaN,None,None,NaN,NaN,None
1042,61,HKQuantityTypeIdentifierHeartRate,Mi Fitness,count/min,2022-08-10 18:20:48 -0300,2022-08-10 17:00:00 -0300,2022-08-10 18:00:00 -0300,None,NaN,None,None,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455064,None,None,Mi Fitness,None,2022-12-06 10:29:38 -0300,2022-12-06 07:50:46 -0300,2022-12-06 08:21:29 -0300,HKWorkoutActivityTypeWalking,30.716667,min,None,NaN,NaN,None
455065,None,None,Mi Fitness,None,2022-12-07 09:11:11 -0300,2022-12-07 06:20:48 -0300,2022-12-07 06:56:38 -0300,HKWorkoutActivityTypeWalking,35.833333,min,None,NaN,NaN,None
455066,None,None,Mi Fitness,None,2022-12-07 09:11:11 -0300,2022-12-07 08:09:07 -0300,2022-12-07 08:40:25 -0300,HKWorkoutActivityTypeWalking,31.300000,min,None,NaN,NaN,None
455067,None,None,Mi Fitness,None,2022-12-08 06:56:04 -0300,2022-12-08 05:43:24 -0300,2022-12-08 06:20:40 -0300,HKWorkoutActivityTypeWalking,37.266667,min,None,NaN,NaN,None
455068,None,None,Mi Fitness,None,2022-12-08 12:46:05 -0300,2022-12-08 07:07:01 -0300,2022-12-08 07:44:00 -0300,HKWorkoutActivityTypeWalking,36.983333,min,None,NaN,NaN,None

In [34]:
mifitness['type'].value_counts()

HKQuantityTypeIdentifierHeartRate                 76532
HKQuantityTypeIdentifierActiveEnergyBurned         2576
HKQuantityTypeIdentifierStepCount                  1985
HKCategoryTypeIdentifierSleepAnalysis              1757
HKQuantityTypeIdentifierDistanceWalkingRunning      208
Name: type, dtype: int64

In [35]:
fitdays = df.loc[df['sourceName'] == 'Fitdays']

In [36]:
fitdays

,value,type,sourceName,unit,creationDate,startDate,endDate,workoutActivityType,duration,durationUnit,dateComponents,activeEnergyBurned,activeEnergyBurnedGoal,activeEnergyBurnedUnit
2,28.2,HKQuantityTypeIdentifierBodyMassIndex,Fitdays,count,2021-11-28 13:18:04 -0300,2021-11-28 13:18:01 -0300,2021-11-28 13:18:01 -0300,None,NaN,None,None,NaN,NaN,None
3,28.6,HKQuantityTypeIdentifierBodyMassIndex,Fitdays,count,2021-11-28 22:07:32 -0300,2021-11-28 22:07:29 -0300,2021-11-28 22:07:29 -0300,None,NaN,None,None,NaN,NaN,None
4,28.1,HKQuantityTypeIdentifierBodyMassIndex,Fitdays,count,2021-11-29 08:18:57 -0300,2021-11-29 08:18:54 -0300,2021-11-29 08:18:54 -0300,None,NaN,None,None,NaN,NaN,None
5,28.3,HKQuantityTypeIdentifierBodyMassIndex,Fitdays,count,2021-11-29 13:46:18 -0300,2021-11-29 13:46:15 -0300,2021-11-29 13:46:15 -0300,None,NaN,None,None,NaN,NaN,None
6,28,HKQuantityTypeIdentifierBodyMassIndex,Fitdays,count,2021-11-29 18:19:30 -0300,2021-11-29 18:19:27 -0300,2021-11-29 18:19:27 -0300,None,NaN,None,None,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78353,57.1532,HKQuantityTypeIdentifierLeanBodyMass,Fitdays,kg,2022-12-04 08:01:34 -0300,2022-12-04 08:01:31 -0300,2022-12-04 08:01:31 -0300,None,NaN,None,None,NaN,NaN,None
78354,57.4548,HKQuantityTypeIdentifierLeanBodyMass,Fitdays,kg,2022-12-05 05:33:53 -0300,2022-12-05 05:33:50 -0300,2022-12-05 05:33:50 -0300,None,NaN,None,None,NaN,NaN,None
78355,57.3804,HKQuantityTypeIdentifierLeanBodyMass,Fitdays,kg,2022-12-06 06:01:20 -0300,2022-12-06 06:01:17 -0300,2022-12-06 06:01:17 -0300,None,NaN,None,None,NaN,NaN,None
78356,57.532,HKQuantityTypeIdentifierLeanBodyMass,Fitdays,kg,2022-12-07 05:59:04 -0300,2022-12-07 05:59:01 -0300,2022-12-07 05:59:01 -0300,None,NaN,None,None,NaN,NaN,None
78357,57.3806,HKQuantityTypeIdentifierLeanBodyMass,Fitdays,kg,2022-12-08 05:25:13 -0300,2022-12-08 05:25:09 -0300,2022-12-08 05:25:09 -0300,None,NaN,None,None,NaN,NaN,None

In [37]:
fitdays.type.value_counts()

HKQuantityTypeIdentifierBodyMassIndex        437
HKQuantityTypeIdentifierBodyMass             437
HKQuantityTypeIdentifierBodyFatPercentage    394
HKQuantityTypeIdentifierLeanBodyMass         394
HKQuantityTypeIdentifierHeartRate              3
Name: type, dtype: int64

In [38]:
clock = df.loc[df['sourceName'] == 'Clock']

In [39]:
clock.type.value_counts()

HKCategoryTypeIdentifierSleepAnalysis    1169
Name: type, dtype: int64

In [40]:
clock

,value,type,sourceName,unit,creationDate,startDate,endDate,workoutActivityType,duration,durationUnit,dateComponents,activeEnergyBurned,activeEnergyBurnedGoal,activeEnergyBurnedUnit
450505,HKCategoryValueSleepAnalysisInBed,HKCategoryTypeIdentifierSleepAnalysis,Clock,None,2016-10-17 06:00:23 -0300,2016-10-16 23:50:56 -0300,2016-10-17 05:21:12 -0300,None,NaN,None,None,NaN,NaN,None
450506,HKCategoryValueSleepAnalysisInBed,HKCategoryTypeIdentifierSleepAnalysis,Clock,None,2016-10-17 06:00:23 -0300,2016-10-17 05:33:32 -0300,2016-10-17 05:39:16 -0300,None,NaN,None,None,NaN,NaN,None
450507,HKCategoryValueSleepAnalysisInBed,HKCategoryTypeIdentifierSleepAnalysis,Clock,None,2016-10-17 06:00:23 -0300,2016-10-17 05:41:00 -0300,2016-10-17 06:00:23 -0300,None,NaN,None,None,NaN,NaN,None
450508,HKCategoryValueSleepAnalysisInBed,HKCategoryTypeIdentifierSleepAnalysis,Clock,None,2016-10-18 07:00:26 -0300,2016-10-18 00:00:12 -0300,2016-10-18 00:02:44 -0300,None,NaN,None,None,NaN,NaN,None
450509,HKCategoryValueSleepAnalysisInBed,HKCategoryTypeIdentifierSleepAnalysis,Clock,None,2016-10-18 07:00:26 -0300,2016-10-18 06:03:20 -0300,2016-10-18 07:00:26 -0300,None,NaN,None,None,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451669,HKCategoryValueSleepAnalysisInBed,HKCategoryTypeIdentifierSleepAnalysis,Clock,None,2019-07-13 08:39:53 -0300,2019-07-13 07:47:04 -0300,2019-07-13 08:39:48 -0300,None,NaN,None,None,NaN,NaN,None
451670,HKCategoryValueSleepAnalysisInBed,HKCategoryTypeIdentifierSleepAnalysis,Clock,None,2019-07-15 09:04:30 -0300,2019-07-15 05:13:37 -0300,2019-07-15 09:04:24 -0300,None,NaN,None,None,NaN,NaN,None
451671,HKCategoryValueSleepAnalysisInBed,HKCategoryTypeIdentifierSleepAnalysis,Clock,None,2019-07-16 09:14:44 -0300,2019-07-16 02:54:21 -0300,2019-07-16 09:14:38 -0300,None,NaN,None,None,NaN,NaN,None
451672,HKCategoryValueSleepAnalysisInBed,HKCategoryTypeIdentifierSleepAnalysis,Clock,None,2019-07-17 08:29:09 -0300,2019-07-17 07:53:16 -0300,2019-07-17 08:29:04 -0300,None,NaN,None,None,NaN,NaN,None
451673,HKCategoryValueSleepAnalysisInBed,HKCategoryTypeIdentifierSleepAnalysis,Clock,None,2019-07-18 08:26:14 -0300,2019-07-18 02:02:59 -0300,2019-07-18 08:26:09 -0300,None,NaN,None,None,NaN,NaN,None